<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">帮助与反馈</div>
	</div>
</div>
<div class="pages">
	<div data-page="help" class="page no-tabbarr">
		<div class="page-content">
			<div class="subnavbar">
				<div class="buttons-row">
					<a href="#pay-list" class="button tab-link active">已支付服务</a><a
						href="#unpay-list" class="button tab-link">未支付服务</a>
				</div>
			</div>
			<div class="tabs">
				<div id="pay-list" class="tab active">
					<div class="content-block-inner page-problem mtb5">
						<div class="card card-list">
							<div class="card-header list-block addNum">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">
											<span class="dian colors-blue">电</span>电话咨询
										</div>
										<div class="order-time">已付款</div>
									</div>
								</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医生</div>
														<div class="item-input">
															<input type="text" value="李辉（副主任医师）" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医院及科室</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所·儿童生长发育科" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约时间</div>
														<div class="item-input">
															<input type="text" value="2015-11-11 11:00-12:00"
																disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">就诊地点</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所门诊楼3楼第5诊室" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">费用合计</div>
														<div class="item-input">
															<input type="text" value="¥58.00" disabled>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<a href="#" class="button button-fill color-orange">取消预约</a>
							</div>
						</div>
					</div>
					<div class="content-block-inner page-problem mtb5">
						<div class="card card-list">
							<div class="card-header list-block addNum">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">
											<span class="dian colors-blue">电</span>电话咨询
										</div>
										<div class="order-time">已付款</div>
										<div class="order-time">已完成</div>
									</div>
								</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医生</div>
														<div class="item-input">
															<input type="text" value="李辉（副主任医师）" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医院及科室</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所·儿童生长发育科" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约时间</div>
														<div class="item-input">
															<input type="text" value="2015-11-11 11:00-12:00"
																disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">就诊地点</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所门诊楼3楼第5诊室" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">费用合计</div>
														<div class="item-input">
															<input type="text" value="¥58.00" disabled>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="unpay-list" class="tab">
					<div class="content-block-inner page-problem mtb5">
						<div class="card card-list">
							<div class="card-header list-block addNum">
								<div class="item-content">
									<div class="item-inner">
										<div class="item-title">
											<span class="dian colors-blue">电</span>电话咨询
										</div>
										<div class="order-time">未付款</div>
									</div>
								</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<div class="list-block">
										<ul>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医生</div>
														<div class="item-input">
															<input type="text" value="李辉（副主任医师）" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约医院及科室</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所·儿童生长发育科" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">预约时间</div>
														<div class="item-input">
															<input type="text" value="2015-11-11 11:00-12:00"
																disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">就诊地点</div>
														<div class="item-input">
															<input type="text" value="首都儿科研究所门诊楼3楼第5诊室" disabled>
														</div>
													</div>
												</div>
											</li>
											<li>
												<div class="item-content">
													<div class="item-inner">
														<div class="item-title label">费用合计</div>
														<div class="item-input">
															<input type="text" value="¥58.00" disabled>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<a href="#" class="button button-fill color-orange">去支付</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

