<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:getIndexView('myself')" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">我的文章</div>
	</div>
</div>
<div class="pages">
	<div data-page="articles" class="page no-tabbar">
		<div class="page-content">
			<div class="content-block work-list">
			<p align="center">
				<h4 align="center">上传我的文章</h4>
			</p>
				<div class="content-block-inner">
					<a href="javascript:Test('addArticle')" class="button button-fill color-orange">上传我的文章</a>
				</div>
			</div>
			<div class="content-block mp-reset">
				<div class="list-block media-list">
					<ul>
						#foreach(${article} in ${article})
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="javascript:Test('doctor-article','$!{article.id}')" class="item-content item-link">
									<div class="item-media">
										<img src="$!{article.logo}" width="80">
									</div>
									<div class="item-inner">
										<div class="item-title">$!{article.title}</div>
										<div class="item-subtitle">$!{article.atTime}</div>
										<div class="item-text">$!{article.summary}</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" class="action1" style="">修改</a><a href="#"
									data-confirm="你确定要删除此文章吗?" class="swipeout-delete" style="">删除</a>
							</div>
						</li> #end
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="${rc.contextPath}/view/content.html?id=$!{article.id}" class="item-content item-link">
									<div class="item-media">
										
									</div>
									<div class="item-inner">
										<div class="item-title"></div>
										<div class="item-subtitle"></div>
										<div class="item-text"></div>
									</div>
								</a>
							</div>
						</li> 
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
