<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:getIndexView('myself')" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">内容详情</div>
	</div>
</div>
<div class="pages">
	<div data-page="audios" class="page no-tabbar">
		<div class="page-content">
			<div class="content-block work-list">
			<p align="center">
				<h4 align="center">发语音</h4>
			</p>
				<div class="content-block-inner">
					<a href="#" class="button button-fill color-orange">发语音</a>
				</div>
			</div>
			<div class="content-block mp-reset">
				<div class="list-block media-list no-topborder">
					<ul>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
										<img src="images/audios.png">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title">关于换季如何预防感冒</div>
										</div>
										<div class="item-subtitle">2015-10-24 58's</div>
									</div>
								</a>
							</div>
							<div class="swipeout-actions-right">
								<a href="#" data-confirm="你确定要删除此音频吗?" class="swipeout-delete"
									style="">删除</a>
							</div>
						</li>
						<li class="swipeout transitioning">
							<div class="swipeout-content">
								<a href="#" class="item-content item-link">
									<div class="item-media media-img img-small">
									</div>
									<div class="item-inner">
										<div class="item-title-row">
											<div class="item-title"></div>
										</div>
										<div class="item-subtitle"></div>
									</div>
								</a>
							</div>
							
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>