<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">我的会员卡</div>
	</div>
</div>
<div class="pages">
	<div data-page="content" class="page">
		<div class="page-content">
			<div class="content-block member-card">
				<img src="images/card.png">
				<div class="card-info">
					<span class="card-num">NO.20151212</span> <span class="card-name">张三</span>
					<span class="card-time">已激活（2015-12-12）</span>
				</div>
			</div>
			<div class="list-block mtb5">
				<ul>
					<li>
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">余额</div>
								<div class="item-input">
									<input type="text" value="168元" disabled="">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block">
				<div class="row">
					<div class="col-50">
						<a href="#" class="button button-fill">充值</a>
					</div>
					<div class="col-50">
						<a href="#" class="button button-fill color-orange">提现</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>