<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:Test('articles')" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">帮助与反馈</div>
	</div>
</div>
<div class="pages">
	<div data-page="help" class="page">
		<div class="page-content">
			<!-- <div class="subnavbar">
				<div class="buttons-row">
					<a href="#problems" class="button tab-link active">常见问题</a><a
						href="#service" class="button tab-link">联系客服</a>
				</div>
			</div> -->
			
			<p align="center">
			<h4 align="center">帮助与反馈</h4>
			</p>
			<div class="tabs">
			<div class="buttons-row">
					<a href="#problems" class="button tab-link active">常见问题</a><a
						href="#service" class="button tab-link">联系客服</a>
				</div>
				<div id="problems" class="tab active">
					<div class="page-problem">
						<!-- Search bar -->
						<form data-search-list=".list-block-search"
							data-search-in=".item-title"
							class="searchbar searchbar-init searchbar-problem">
							<div class="searchbar-input">
								<input type="search" placeholder="您遇到了什么问题"><a href="#"
									class="searchbar-clear"></a>
							</div>
							<a href="#" class="searchbar-cancel">取消</a>
						</form>

						<!-- Search bar overlay -->
						<div class="searchbar-overlay"></div>

						<!-- This block will be displayed if nothing found -->
						<div class="content-block searchbar-not-found">
							<div class="content-block-inner">没有找到您需要的问题</div>
						</div>

						<!-- This block will be displayed if anything found, and this list block is used a searbar target -->
						<div
							class="list-block media-list list-block-search searchbar-found">
							<ul>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">1.怎么使用康众挂号</div>
											</div>
											<div class="item-text item-problem">
												<p>
													怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号</p>
											</div>
										</div>
								</a></li>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">2.怎么使用康众挂号</div>
											</div>
											<div class="item-text item-problem">
												<p>
													怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号</p>
											</div>
										</div>
								</a></li>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">3.怎么使用康众挂号</div>
											</div>
											<div class="item-text item-problem">
												<p>
													怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号</p>
											</div>
										</div>
								</a></li>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">4.怎么使用康众挂号</div>
											</div>
											<div class="item-text item-problem">
												<p>
													怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号</p>
											</div>
										</div>
								</a></li>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title">5.怎么使用康众挂号</div>
											</div>
											<div class="item-text item-problem">
												<p>
													怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号怎么使用康众挂号</p>
											</div>
										</div>
								</a></li>
								<li><a href="#" class="item-link item-content">
										<div class="item-inner">
											<div class="item-title-row">
												<div class="item-title"></div>
											</div>
											<div class="item-text item-problem">
												<p></p>
											</div>
										</div>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div id="service" class="tab">
					<div class="help page-problem">
						<div class="content-block-inner help-phone">免费客服电话
							&nbsp;&nbsp;&nbsp;400-888-888</div>
						<div class="content-block">
							<p>
								<a href="#" class="button button-fill">拨打免费客服电话 </a>
							</p>
						</div>
						<div class="content-block-inner help-area">
							<textarea placeholder="请描述您的问题或意见，我们会更好的为您服务的。"></textarea>
						</div>
						<div class="content-block">
							<p>
								<a href="#" class="button button-fill">提交反馈</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

