<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">病历详细</div>
		<div class="right">
			<a href="#" class="back link">保存</a>
		</div>
	</div>
</div>
<div data-page="user1" class="page cached" id="user1">
	<div class="page-content">
		<div class="content-block case-list">
			<div class="content-block-title content-title">挂号信息</div>
			<div class="list-block mp-reset">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">就诊时间</div>
							<div class="item-input">
								<input type="text" placeholder="必填" value="2015-12-12" disabled>
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">科室/医生</div>
							<div class="item-input">
								<input type="text" placeholder="必填" value="外科/张珊" disabled>
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">医院</div>
							<div class="item-input">
								<input type="text" placeholder="必填" value="北医三院" disabled>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block-title content-title">医生诊断</div>
			<div class="list-block mp-reset">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-input">
								<textarea>气胸是指气体进入胸膜腔，造成积气状态，称为气胸。多因肺部疾病或外力影响使肺组织和脏层胸膜破裂，或靠近肺表面的细微气肿泡破裂，肺和支气管内空气逸入胸膜腔。多见于男性青壮年或患有慢支，肺气肿，肺结核者。本病属肺科急症之一，严重者可危及生命，及时处理可治愈。</textarea>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block-title content-title">检查检验</div>
			<div class="list-block media-list mp-reset">
				<ul>
					<li><a href="#" class="item-link item-content">
							<div class="item-inner with-background">
								<div class="item-title-row">
									<div class="item-title">图片资料</div>
								</div>
							</div>
					</a></li>
					<li><a href="#" class="item-link item-content">
							<div class="item-inner with-background">
								<div class="item-title-row">
									<div class="item-title">化验单</div>
								</div>
							</div>
					</a></li>
					<li><a href="#" class="item-link item-content">
							<div class="item-inner with-background">
								<div class="item-title-row">
									<div class="item-title">病例</div>
								</div>
							</div>
					</a></li>
				</ul>
			</div>
			<div class="content-block-title content-title">医嘱</div>
			<div class="list-block mp-reset">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-input">
								<textarea>自发性气胸是临床常见急诊之一，若未及时处理往往影响工作和日常生活，尤其是持续性或复发性气胸患者诊疗不及时或不恰当，常损害肺功能，甚至威胁生命。因此积极治疗，预防复发是十分重要的。在确定治疗方案时，应考虑症状、体征、X线变化（肺压缩的程度、有无纵隔移位）、胸膜腔内压力、有无胸腔积液、气胸发生的速度及原有肺功能状态，首次发病抑或复发等因素。基本治疗原则包括卧床休息的一般治疗、排气疗法、防止复发措施、手术疗法及并发症防治等。</textarea>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
