<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">我的病历</div>
	</div>
</div>
<div class="pages">
	<div data-page="medical-record" class="page">
		<div class="page-content">
			<div class="content-block mp-reset">
				<div class="content-block-inner tablet-inset">
					<div class="row no-gutter ta-c">
						<table class="guahao">
							<tbody>
								<tr>
									<td rowspan="2" class="td-left col-33"><a class="link"><img
											src="images/notebook.png" width="80"> <span class="row"></span></a><a
										href="#" class="link">我的病历</a></td>
									<td class="col-66" style="border-bottom: 1px solid #f4f3f5">
										<div class="list-block media-list">
											<ul>
												<li><a href="my-body.html"
													class="item-link item-content">
														<div class="item-media">
															<img src="images/doc-2.jpg"
																style="width: 4em; border-radius: 50%">
														</div>
														<div class="item-inner">
															<div class="item-title-row">
																<div class="item-title mb5">我的健康档案</div>
															</div>
															<div class="item-subtitle text-gray">您的基本信息以及就诊信息</div>
														</div>
												</a></li>
											</ul>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="list-block media-list">
											<ul>
												<li><a href="new-caseHistory.html"
													class="item-link item-content">
														<div class="item-media">
															<img src="images/doc-2.jpg"
																style="width: 4em; border-radius: 50%">
														</div>
														<div class="item-inner">
															<div class="item-title-row">
																<div class="item-title mb5">添加病历</div>
															</div>
															<div class="item-subtitle text-gray">新建一个病历</div>
														</div>
												</a></li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="list-block media-list record-list">
				<ul>
					<li><a href="history-content.html" class="item-link">
							<div class="item-content red">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>
					<li><a class="item-link">
							<div class="item-content blue">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>
					<li><a class="item-link">
							<div class="item-content red">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>
					<li><a class="item-link">
							<div class="item-content blue">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>

					<li><a class="item-link">
							<div class="item-content red">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>
					<li><a class="item-link">
							<div class="item-content blue">
								<div class="item-inner record-line">
									<div class="item-title">11月11日</div>
									<div class="item-subtitle">2015年</div>
								</div>

								<!--<div class="item-media"><span class="date">11月10日</span><br><span class="year">2015年</span></div>-->
								<div class="item-inner right-line">
									<div class="item-title-row">
										<div class="item-title">外科 &nbsp;&nbsp;&nbsp;气胸手术</div>
									</div>
									<div class="item-subtitle">北京市北医三院胸外科&nbsp;&nbsp;&nbsp;张三（副主任医师）</div>
								</div>
							</div>
					</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>