<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">XXX的病历</div>
	</div>
</div>
<div data-page="user1" class="page cached" id="user1">
	<div class="page-content">
		<div class="content-block case-list">
			<div class="content-block-title content-title">基本信息</div>
			<div class="list-block mp-reset">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="name">张三</span> <span class="sex color-gray"><i
									class="flaticon-woman157 sex-w"></i></span> <span
									class="age color-gray">50岁</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="content-block-title content-title">描述</div>
			<div class="list-block mp-reset">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">婚育史</div>
							<div class="item-input">
								<input type="text" placeholder="必填">
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">家族病史</div>
							<div class="item-input">
								<input type="text" placeholder="必填">
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">药物过敏</div>
							<div class="item-input">
								<input type="text" placeholder="必填">
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">手术和外伤</div>
							<div class="item-input">
								<input type="text" placeholder="建议填写">
							</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title label">食物和其他过敏</div>
							<div class="item-input">
								<input type="text" placeholder="建议填写">
							</div>
						</div>
					</li>
					<li class="align-top">
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">个人习惯</div>
								<div class="item-input">
									<textarea></textarea>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
