<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:getIndexView('myself')" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">预约设置</div>
	</div>
</div>
<div class="pages">
	<div data-page="set" class="page">
		<div class="page-content">
			<p align="center">
			<h4 align="center">预约设置</h4>
			</p>
			<div class="buttons-row tabs-title calendar">
					<a id="week7" href="javascript:set(7);"
						class="tab-link week7 active button button-tab">
						<div class="weeks">日</div>
						<div class="date">24</div>
					</a> <a id="week1" href="javascript:set(1);"
						class="tab-link week1  button button-tab">
						<div class="weeks">一</div>
						<div class="date">25</div>
					</a> <a id="week2" href="javascript:set(2);"
						class="tab-link week2 button button-tab">
						<div class="weeks">二</div>
						<div class="date">26</div>
					</a> <a id="week3" href="javascript:set(3);"
						class="tab-link week3 button button-tab">
						<div class="weeks">三</div>
						<div class="date">27</div>
					</a> <a id="week4" href="javascript:set(4);"
						class="tab-link week4 button button-tab">
						<div class="weeks">四</div>
						<div class="date">28</div>
					</a> <a id="week5" href="javascript:set(5);"
						class="tab-link week5 button button-tab">
						<div class="weeks">五</div>
						<div class="date">29</div>
					</a> <a id="week6" href="javascript:set(6);"
						class="tab-link week6 button button-tab">
						<div class="weeks">六</div>
						<div class="date">30</div>
					</a>
				</div>
			<!-- Tabs, 标签内容区容器 -->
			<div class="tabs">
				<!-- Tab 1, 默认激活 -->
				<div id="tab1" class="tab active">
					<div class="list-block media-list tablet-inset">
						<div class="card card-list">
							<div class="card-header">
								<a href="#" class="link">预约时间段设置<small>(选择是否开启)</small></a>
							</div>
							<div class="card-content">
								<div class="list-block">
									<ul>
										<li><label class="label-checkbox item-content"> <input
												type="checkbox" name="ks-checkbox" value="Books" checked="">
												<div class="item-media">
													<i class="icon icon-form-checkbox"></i>
												</div>
												<div class="item-inner">
													<div class="item-title">上午 9:00-12:00</div>
												</div>
										</label></li>
										<li><label class="label-checkbox item-content"> <input
												type="checkbox" name="ks-checkbox" value="Movies">
												<div class="item-media">
													<i class="icon icon-form-checkbox"></i>
												</div>
												<div class="item-inner">
													<div class="item-title">下午 14:00-16:00</div>
												</div>
										</label></li>
									</ul>
								</div>
							</div>
		
						</div>

					</div>
					
					<div class="content-block">
						<p>
							<a href="#" class="button button-fill">保存预约设置</a>
						</p>
					</div>
					<div class="content-block">
						<p>
							<a href="#" class="button">取消设置</a>
						</p>
					</div>
				</div>
				<!-- Tab 2 -->
				<div id="tab2" class="tab">
					<div class="content-block">
						<p>This is tab 2 content</p>
						...
					</div>
				</div>
			</div>
		</div>
	</div>
</div>