<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="#" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">预约成功</div>
	</div>
</div>
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
	<!-- Index Page-->
	<div data-page="index" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="content-block c-c-title">
				<div class="content-block">
					<div class="success">
						<i class="flaticon-symbol53 success-icon"></i>
					</div>
				</div>
			</div>
			<div class="content-block-inner tablet-inset  mp-reset">
				<div class="card card-list">
					<div class="card-header list-block addNum">
						<div class="item-content">
							<div class="item-media">
								<i class="flaticon-medical55 icon-f7 colors-grass"></i>
							</div>
							<div class="item-inner">
								<div class="item-title">门诊加号</div>
							</div>
						</div>
					</div>
					<div class="card-content">
						<div class="card-content-inner">
							<div class="list-block">
								<ul>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title label">预约医生</div>
												<div class="item-input">
													<input type="text" value="李辉（副主任医师）" disabled>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title label">预约医院及科室</div>
												<div class="item-input">
													<input type="text" value="首都儿科研究所·儿童生长发育科" disabled>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title label">预约时间</div>
												<div class="item-input">
													<input type="text" value="2015-11-11 11:00-12:00" disabled>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="item-content">
											<div class="item-inner">
												<div class="item-title label">就诊地点</div>
												<div class="item-input">
													<input type="text" value="首都儿科研究所门诊楼3楼第5诊室" disabled>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-block">
				<h3>提示：</h3>
				<p>为了让医生提前了解您的病情，建议您提 前在“我的病例”中描述您的症状，上传您 的病例，如有检查结果也记得上传哦。</p>
			</div>
			<div class="content-block">
				<a href="#" class="button button-fill">上传病例照片/选择病例 </a>
			</div>
		</div>
	</div>
</div>
