<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:getIndexView('myself')" class="back link"> <i
				class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">我的视频</div>
	</div>
</div>
<div class="pages">
	<div data-page="video" class="page no-tabbar">
		<div class="page-content hide-bars-on-scroll">
			<div class="content-block work-list">
				<p align="center">
				<h4 align="center">上传视频</h4>
				</p>
				<div class="content-block-inner">
					<a href="#" class="button button-fill color-orange">上传视频</a>
				</div>
			</div>
			<div class="list-block media-list">
				<ul>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img">
									<img src="images/videos.png">
								</div>
								<div class="item-inner">
									<div class="item-title">研究发现：多吃鱼的人不易发生抑郁</div>
									<div class="item-subtitle">2015-10-24</div>
									<div class="item-text">
										英国《流行病学与社区卫生杂志》刊登一项新研究发现，多吃鱼的人，不易发生抑郁。该研究作者是我国青岛大学医学院张东风教授及其同事。
										研究人员对发表于2001~2014年的全球有关吃鱼与抑郁风险关联性研究的16篇论文数据进行了梳理分析，其中包括26项研究，涉及15万多名参试者。结果发现，多项研究支持多吃鱼有利于降低抑郁症的观点。坚持多鱼饮食的男<i
											class="flaticon-woman157 sex-w"></i>参试者罹患抑郁症的风险分别降低20%和16%。
									</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions-right">
							<a href="#" data-confirm="你确定要删除此视频吗?" class="swipeout-delete"
								style="">删除</a>
						</div>
					</li>
					<li class="swipeout transitioning">
						<div class="swipeout-content">
							<a href="#" class="item-content item-link">
								<div class="item-media media-img"></div>
								<div class="item-inner">
									<div class="item-title"></div>
									<div class="item-subtitle"></div>
									<div class="item-text"></div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>