<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="javascript:getIndexView('myself')" class="back link"> <i class="icon icon-back"></i><span>返回</span></a>
		</div>
		<div class="center sliding title-color">我的工作</div>
	</div>
</div>
<div class="pages navbar-through toolbar-through">
	<div data-page="index-3" class="page">
		<div class="page-content">
			<div class="content-block work-wiew">
				<div class="content-block user-page">
					<div class="row">
						<div class="col-50">
							<div class="buttons-row">
								<div class="tab-link info-view colors-red work-list">
									<span class="line-num">5名</span><span class="line-view">90元/15min/名</span><span
										class="line-view">电话咨询</span>
								</div>
							</div>
						</div>
						<div class="col-50">
							<div class="buttons-row">
								<div class="tab-link info-view colors-blue work-list">
									<span class="line-num">112</span><span class="line-view">90元/名</span><span
										class="line-view">门诊加号</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--card-->
			<div class="card">
				<div class="card-header row no-gutter patients-list">
					<div class="card-name">张三</div>
					<div class="card-sex">
						<i class="flaticon-woman157 sex-w"></i>
					</div>
					<div class="card-age">20岁</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<div class="item-text">病情描述头晕恶头晕恶心头晕恶心头晕恶心头晕恶心头晕恶心头头晕恶头晕恶心头晕恶心头晕恶</div>
					</div>
				</div>
				<div class="card-footer">
					<p>备注：高血压、糖尿病</p>
					<div class="row">
						<div class="col-100">
							<a href="#" class="button button-fill button-small color-green">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<!--end card-->
			<!--card-->
			<div class="card">
				<div class="card-header row no-gutter patients-list">
					<div class="card-name">张三</div>
					<div class="card-sex">
						<i class="flaticon-woman157 sex-w"></i>
					</div>
					<div class="card-age">20岁</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<div class="item-text">病情描述头晕恶头晕恶心头晕恶心头晕恶心头晕恶心头晕恶心头头晕恶头晕恶心头晕恶心头晕恶</div>
					</div>
				</div>
				<div class="card-footer">
					<p>备注：高血压、糖尿病</p>

					<div class="row">
						<div class="col-100">
							<a href="#" class="button button-fill button-small color-green">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<!--end card-->
			<!--card-->
			<div class="card">
				<div class="card-header row no-gutter patients-list">
					<div class="card-name">张三</div>
					<div class="card-sex">
						<i class="flaticon-woman157 sex-w"></i>
					</div>
					<div class="card-age">20岁</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<div class="item-text">病情描述头晕恶头晕恶心头晕恶心头晕恶心头晕恶心头晕恶心头头晕恶头晕恶心头晕恶心头晕恶</div>
					</div>
				</div>
				<div class="card-footer">
					<p>备注：高血压、糖尿病</p>

					<div class="row">
						<div class="col-100">
							<a href="#" class="button button-fill button-small color-green">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<!--end card-->
			<!--card-->
			<div class="card">
				<div class="card-header row no-gutter patients-list">
					<div class="card-name">张三</div>
					<div class="card-sex">
						<i class="flaticon-woman157 sex-w"></i>
					</div>
					<div class="card-age">20岁</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<div class="item-text">病情描述头晕恶头晕恶心头晕恶心头晕恶心头晕恶心头晕恶心头头晕恶头晕恶心头晕恶心头晕恶</div>
					</div>
				</div>
				<div class="card-footer">
					<p>备注：高血压、糖尿病</p>

					<div class="row">
						<div class="col-100">
							<a href="#" class="button button-fill button-small color-green">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<!--end card-->
			<!--card-->
			<div class="card">
				<div class="card-header row no-gutter patients-list">
					<div class="card-name">张三</div>
					<div class="card-sex">
						<i class="flaticon-woman157 sex-w"></i>
					</div>
					<div class="card-age">20岁</div>
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<div class="item-text">病情描述头晕恶头晕恶心头晕恶心头晕恶心头晕恶心头晕恶心头头晕恶头晕恶心头晕恶心头晕恶</div>
					</div>
				</div>
				<div class="card-footer">
					<p>备注：高血压、糖尿病</p>

					<div class="row">
						<div class="col-100">
							<a href="#" class="button button-fill button-small color-green">查看更多</a>
						</div>
					</div>
				</div>
			</div>
			<!--end card-->
		</div>
	</div>
</div>
