<!-- 导航条 -->
<div class="toolbar tabbar tabbar-labels">
	<div class="toolbar-inner">
		<!-- 首页 -->
		<a href="javascript:getIndexView('news')"
			class="tab-link tab-index-news active"> <i
			class="flaticon-building120 toolbar-fons"></i><span
			class="tabbar-label">首页</span>
		</a>
		<!-- 我的预约 -->
		<a href="javascript:getIndexView('myreserve')"
			class="tab-link tab-index-myreserve"><i
			class="flaticon-first21 toolbar-fons"></i><span class="tabbar-label">我的预约</span></a>
		<!-- 我 -->
		<a href="javascript:getIndexView('myselfpatient')"
			class="tab-link tab-index-myselfpatient"><i
			class="flaticon-avatar83 toolbar-fons"></i><span class="tabbar-label">我</span></a>
	</div>
</div>