<!-- 导航条 -->
<div class="toolbar tabbar tabbar-labels">
	<div class="toolbar-inner">
		<!-- 医院动态 -->
		<a href="javascript:getIndexView('kznews')"
			class="tab-link tab-index-kznews active"> <i
			class="flaticon-building120 toolbar-fons"> </i><span
			class="tabbar-label">医院动态</span></a>
		<!-- 我的服务 -->
		<a href="javascript:getIndexView('myservice')"
			class="tab-link tab-index-myservice"><i
			class="flaticon-first21 toolbar-fons"></i><span class="tabbar-label">我的服务</span></a>
		<!-- 我的患者 -->
		<a href="javascript:getIndexView('mypatient')"
			class="tab-link tab-index-mypatient"><i
			class="flaticon-clinic2 toolbar-fons"></i><span class="tabbar-label">我的患者</span></a>
		<!-- 我 -->
		<a href="javascript:getIndexView('myself')"
			class="tab-link tab-index-myself"><i
			class="flaticon-avatar83 toolbar-fons"></i><span class="tabbar-label">我</span></a>
	</div>
</div>